ul.navBar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.navlista{
    float: left;
}

li a.navlist{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    position: fixed;
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
