  .circleImg-list {
    list-style: none;
    display: flex;
    gap: 20px; /* Adjust the gap between images */
    margin-left: auto;
    padding: 0% 1%;
  }
  
  .img-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }