/* Import Statements */
@import url(./navBar.css);
@import url(./MobileStyle.css);
@import url(./otherStyle.css);

/* Global Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* Background Styles */
html {
  background-color: lightgray;
}

/* Typography Styles */
#intro {
  font-family: "Heebo", sans-serif;
}
  
/* Landing Section Styles */
.landing {
  min-height: 100vh;
  padding: 0rem 5rem;
}

/* Bio Section Styles */
#bio {
  font-size: 175%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Heading Styles */
.th1 {
  color: rgb(255, 0, 0);
  font-size: 10ch;
}

/* Image Styles */
#myImg {
  width: 25%;
  height: 25%;
}

/* Body Styles */
body {
  position: absolute;
  text-align: center;
  background-color: rgba(138, 138, 138, 0.5);
  width: 100%;
  height: 100%;
}

/* Navigation Links Styles */
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

/* Intro Section Styles */
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
/* Slider Styles */
.slider {
  background: rgb(59, 59, 59);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

/* Intro Text Styles */
.intro-text {
  color: rgb(255, 0, 0);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

/* Hide Styles */
.hide { 
  background: black;
  overflow: hidden; 
} 
      
.hide span { 
  transform: translateY(100%);
  display: inline-block; 
}

/* Link Styles */
a:link, a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* Video Background Styles */
.vidBackground {
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
}

/* Custom Link Colors */
a.f {
  color: rgb(49, 49, 255);
}
a.t {
  color: cyan;
}
a.l {
  color: darkcyan;
}
a.y {
  color: red;
}
a.in {
  color: rgb(240, 44, 90);
}
a.patreonColor {
  color: rgb(246, 90, 47);
}

/* Paragraph Styles */
p {
  font-size: 5ch;
}
