@import url(./navBar.css);
@import url(./MobileStyle.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    background-color: lightgray;
}

body{
    position: absolute;
    text-align: center;
    background-color: rgba(138, 138, 138, 0.5);
    height: 100%;
    width: 100%;
}
h1{
    color: rgb(255, 0, 0);
    font-size: 10ch;
    
}

.vidBackground{
    position:fixed;
    z-index: -99;
    width:100%;
    height:100%
}

p{
    font-size: 5ch;
}

a.f {
    color: rgb(92, 92, 255);
}
a.t {
    color: cyan;
}
a.l {
    color: darkcyan;
}

a.y{
    color: red;
}

a.in{
    color:rgb(240, 44, 90);
}

a.patreonColor{
    color: rgb(246, 90, 47);
}